# /etc/systemd/system
[Unit]
Description = app

[Service]
WorkingDirectory=/home/admins/app
Type=forking
ExecStart=/bin/bash /home/admins/app/start.sh
KillMode=process
[Install]
WantedBy=multi-user.target
